.q1, .q2, .q3, .q4, .intention {
    font-style: italic;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    border-radius: 5px;
    width: 50%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: #4CAF50;
cursor: pointer;
visibility: hidden;
}

.visibleslider::-webkit-slider-thumb {
    visibility: visible;
}
  
.hidden {
    display: none; }

.unhidden {
    display: block; }

.arcButton {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 3px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 0px 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.arcButton:hover{
    background-color:#f44336; /*Green*/
}

.instruction{
    color:#424242;
    text-align: justify;
    font-size: 17px;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;

}


.notBoth{
    color: red;
    font-size:22;
}

.sentence{
    /* color:#2E9AFE;	 */
    text-align:center;
	font-size:20;
    font-weight: bold;
}

.state, .value, .intention, .honest, .positive, .endpoint{
    font-weight: lighter;
}
.row {
    padding-bottom: .5em;
}


.tr {
  padding: 0;
  text-align: left;
}
.retryButton{
    font-color: black;
    padding: 1px 8px;

}
.retryButton:hover{
    background-color: #f44336;
    padding: 1px 8px;
}
.continueButton{
    padding: 1px 8px;
}

.continueButton:hover{
   background-color: #008CBA;
   padding: 1px 8px;
}
.slider_table {
   margin-left: 0;
   text-align: left;
   padding-top: 0cm;
   padding-bottom: 1cm;
}

.radio_buttons {
   margin-left: 0;
   text-align: left;
   padding-top: 0cm;
   padding-bottom: 1cm;
}

.input[type=radio] {
    margin: 0;
      display: block;
}

table.likertscale  {
  /*border: 1px solid black;*/
  text-align: center;
  width: 90%;
  align-self: left;
  margin-left:auto;
  margin-right:auto;
}

tr,td {
/*  border: 1px solid black;*/
}

td:nth-child(1) {
 width: 200px
}

td:nth-child(9) {
 width: 200px
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}


.legal {
	font-size: 70%;
	font-style: italic;
    text-align: center;
}

.slide {
	border: 1px solid #666;
}
